@model mvcReserHotel.Models.cliente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nacionalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nacionalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.procedencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.procedencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cui)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cui)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extendido_en)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extendido_en)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profesión)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profesión)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_civil.estado_civil1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_civil.estado_civil1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
