@model IEnumerable<mvcReserHotel.Models.reservacion>

@{
    ViewBag.Title = "Index";
}

<h2>Reservación</h2>

<p>
    @Html.ActionLink("Nueva Reservación", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fecha de Inicio
            @*@Html.DisplayNameFor(model => model.fecha_inicio)*@
        </th>
        <th>
            Fecha de Fin
            @*@Html.DisplayNameFor(model => model.fecha_fin)*@
        </th>
        <th>
            Fecha de Creacion
            @*@Html.DisplayNameFor(model => model.fecha_creacion)*@
        </th>
        <th>
            Observaciones
            @*@Html.DisplayNameFor(model => model.observacion)*@
        </th>
        <th>
            Cancelo
            @*@Html.DisplayNameFor(model => model.precio)*@
        </th>
        <th>
            Nombre del Cliente
            @*@Html.DisplayNameFor(model => model.cliente.nombres)*@
        </th>
        <th>
            Estado de Reservación
            @*@Html.DisplayNameFor(model => model.estado.nombre)*@
        </th>
        <th>
            Recepcionista
            @*@Html.DisplayNameFor(model => model.recepcionista.nombres)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cliente.nombres) @Html.DisplayFor(modelItem => item.cliente.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recepcionista.nombres)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.cod_reservacion })">
                <i class="glyphicon glyphicon-pencil"></i>
                <span class="sr-only">Edit</span>
            </a>


            <a href="@Url.Action("Delete", new { id=item.cod_reservacion })">
                <i class="glyphicon glyphicon-trash" ></i>
                <span class="sr-only">Delete</span>
            </a>

            <a href="@Url.Action("Details", new { id=item.cod_reservacion })">
                <i class="glyphicon glyphicon-list-alt"></i>
                <span class="sr-only">Details</span>
            </a>


            
            @*@Html.ActionLink("Editar", "Edit", new { id=item.cod_reservacion }, new { @class="btn btn-success"})*@ 
            @*@Html.ActionLink("Detalles", "Details", new { id=item.cod_reservacion }, new { @class = "btn btn-info" })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.cod_reservacion }, new { @class = "btn btn-danger" })*@
        </td>
    </tr>
    
}

</table>
